{% extends 'Dashboard/base.html' %}

{% load i18n %}
{% load socialaccount %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}





<div class="clearfix"></div>
			
<!-- Title Header Start -->
<section class="inner-header-title" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfa4M0Gsh3JVpkwNvdDRu63JHOLOWor_tVdw&usqp=CAU);">
  <div class="container">
    <h2  style="color: white;">Log In Account</h2>
  </div>
</section>
<div class="clearfix"></div>
<!-- Title Header End -->

<!-- Accordion Design Start -->
<section class="accordion">
  <div class="container">
    <div class="row">
      
      <!-- Billing Address -->
      <div class="col-md-6 col-sm-6">
        <div class="sidebar-wrapper">
        
        <div class="sidebar-box-header bb-1">
          <h4>Log In An Account</h4>
        </div>
        
        
        <div class="col-md-12" style="border: 1px solid #4285F4; border-radius: 5px;">
          <a  href="{% provider_login_url 'google' %}"><img src="https://img.icons8.com/color/48/null/google-logo.png"/> <b> Login with Google</b></a>
      </div> <br>



      <div class="social-devider" style="padding: 20px;">
        <span class="line"></span>
        <span class="circle">Or</span>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="social-login row">




<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <div >
  {{ form.as_p }}
  </div >
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
  <button class="update-btn" type="submit">{% trans "Sign In" %}</button>
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form><br>


	<p>Have'nt you an Account? <a href="/accounts/signup/"></a>SignUp Now</p>


   
  
  
  
  </div>
  </div>
  
  <!-- Payment Detail -->
  
  
  </div>
  
  </div>
  </section>
  <!-- Accordion Design End -->
  
  
  
  {% endblock %}