{% extends "Dashboard/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}




<div class="clearfix"></div>
			
<!-- Title Header Start -->
<section class="inner-header-title" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfa4M0Gsh3JVpkwNvdDRu63JHOLOWor_tVdw&usqp=CAU);">
  <div class="container">
    <h2  style="color: white;">Password Reset</h2>
  </div>
</section>
<div class="clearfix"></div>
<!-- Title Header End -->

<!-- Accordion Design Start -->
<section class="accordion">
  <div class="container">
    <div class="row">
      
      <!-- Billing Address -->
      <div class="col-md-6 col-sm-6">
        <div class="sidebar-wrapper">
        
        <div class="sidebar-box-header bb-1">
          <h4>Password Reset</h4>
        </div>
        





   
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p><br>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>


</div>
</div>
</div>
</div>
</section>


{% endblock %}
