{% extends "Dashboard/base.html" %}

{% load i18n %}

{% block content %}




<div class="clearfix"></div>
			
<!-- Title Header Start -->
<section class="inner-header-title" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfa4M0Gsh3JVpkwNvdDRu63JHOLOWor_tVdw&usqp=CAU);">
  <div class="container">
    <h2  style="color: white;">Change Password</h2>
  </div>
</section>
<div class="clearfix"></div>


<section class="accordion">
    <div class="container">
      <div class="row">
        
        <!-- Billing Address -->
        <div class="col-md-6 col-sm-6">
          <div class="sidebar-wrapper">

            <div class="sidebar-box-header bb-1">
                <h4>Change Password</h4>
              </div>




    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>




</div>
</div>
</div>
</div>
</section>



{% endblock %}