
{% extends 'Main/base.html' %}
{% load static %}
	
	
	
{% block content %}
	
	
	
	
	
	
	<!-- End Navigation -->
			<div class="clearfix"></div>
			




			<!-- Title Header Start -->
			
			<section class="inner-header-title" style="height: 60px; background-image:url('{{blog.headpic}}');">
				<div class="container">
					<blockquote align="justify" class="margin-top-20 margin-bottom-20">
						{{blog.header}}
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->
			
			<!-- Blog Detail -->
			<section class="section">
				<div class="container">
					<div class="row no-mrg">
						<div class="col-md-8">
							<article class="blog-news">
								
								
									<div class="full ">
										
										{% if blog.h1 %}
										<h1 align="justify" class="blog-sing-title">{{blog.h1}}</h1> 
										{% endif %}

										<div class="post-meta">
											<span class="author"><img src="https://www.w3schools.com/howto/img_avatar.png" style="border-radius: 50%; width: 40px; height: 40px;"> <a href="#" title="Posts by admin"> Admin</a></span>
											<span class="author"><i class="ti-calendar"></i>{{blog.date}}</span>
											<span class="author"><i class="ti-comment-alt"></i>0 Comments</span>
										</div><br>

										{% if blog.pic1 %}
										<div class="ytcontainer">
										<iframe class="responsive-iframe" src="{{blog.pic1}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
									</div> <br> <br>
											{% endif %}

										<div class="blog-text">
											{% if blog.p1 %}
											<p style="white-space:pre-wrap;" align="justify" >{{blog.p1}}</p> <br>
											{% endif %}
											{% if blog.qt1 %}
											<blockquote align="justify" style="color: green;" class="margin-top-20 margin-bottom-20">
											{{blog.qt1}}	
											</blockquote> <br>
											{% endif %}




											{% if blog.pic2 %}
									<figure class="img-holder">
										<a href="blog-detail.html"><img style="height: auto; width: 900px;" src="{{blog.pic2}}" class="img-responsive" alt="News"></a> <p style="white-space:pre-wrap;" style="font-size: 8px;">credit</p> <br>
									</figure>
									{% endif %}


									{% if blog.h2 %}
										<h2 align="justify" class="blog-sing-title">{{blog.h2}}</h2> <br>
										{% endif %}
										<div class="blog-text">
											{% if blog.p2 %}
											<p style="white-space:pre-wrap;" align="justify" >{{blog.p2}}</p>
											{% endif %}
											{% if blog.qt2 %}
											<blockquote align="justify" class="margin-top-20 margin-bottom-20">
											{{blog.qt2}}	
											</blockquote>
											{% endif %}



											{% if blog.pic3 %}
									<figure class="img-holder">
										<a href="blog-detail.html"><img style="height: auto; width: 900px;" src="{{blog.pic3}}" class="img-responsive" alt="News"></a> <p style="white-space:pre-wrap;" style="font-size: 8px;">credit</p> <br>
									</figure>
									{% endif %}


									{% if blog.h3 %}
										<h2 align="justify" class="blog-sing-title">{{blog.h3}}</h2> <br>
										{% endif %}
										<div class="blog-text">
											{% if blog.p3 %}
											<p style="white-space:pre-wrap;" align="justify" >{{blog.p3}}</p>
											{% endif %}
											{% if blog.qt3 %}
											<blockquote align="justify" class="margin-top-20 margin-bottom-20">
											{{blog.qt3}}	
											</blockquote>
											{% endif %}


											{% if blog.pic4 %}
									<figure class="img-holder">
										<a href="blog-detail.html"><img style="height: auto; width: 900px;" src="{{blog.pic4}}" class="img-responsive" alt="News"></a> <p style="white-space:pre-wrap;" style="font-size: 8px;">credit</p> <br>
									</figure>
									{% endif %}


									{% if blog.h4 %}
										<h2 align="justify" class="blog-sing-title">{{blog.h4}}</h2> <br>
										{% endif %}
										<div class="blog-text">
											{% if blog.p4 %}
											<p style="white-space:pre-wrap;" align="justify" >{{blog.p4}}</p>
											{% endif %}
											{% if blog.qt4 %}
											<blockquote align="justify" class="margin-top-20 margin-bottom-20">
											{{blog.qt4}}	
											</blockquote>
											{% endif %}


											{% if blog.pic5 %}
									<figure class="img-holder">
										<a href="blog-detail.html"><img style="height: auto; width: 900px;" src="{{blog.pic5}}" class="img-responsive" alt="News"></a> <p style="white-space:pre-wrap;" style="font-size: 8px;">credit</p> <br>
									</figure>
									{% endif %}


									{% if blog.h5 %}
										<h2 align="justify" class="blog-sing-title">{{blog.h5}}</h2> <br>
										{% endif %}
										<div class="blog-text">
											{% if blog.p5 %}
											<p style="white-space:pre-wrap;" align="justify" >{{blog.p2}}</p>
											{% endif %}
											{% if blog.qt5 %}
											<blockquote align="justify" class="margin-top-20 margin-bottom-20">
											{{blog.qt5}}	
											</blockquote>
											{% endif %}





											

















































































































											{% if blog.footer %}
											<p align="justify" style="white-space:pre-wrap;">{{blog.footer}}</p>
											{% endif %}
											<div class="post-tags">
												<strong>Tags:</strong>
												<a href="#">Groups</a>
												<a href="#">Parkings</a>
												<a href="#">Spa</a>
												<a href="#">Team</a>
												<a href="#">Food</a>
											</div>
										</div>
										<div class="row no-mrg">
											<div class="blog-footer-social">
												<span>Share <i class="fa fa-share-alt"></i></span>
												<ul class="list-inline social">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									
								
							</article>
							
							<!-- Comment -->
							<div class="row no-mrg">
								<div class="comments">
									<h3 class="mrg-top-40">Comments <span class="comments-amount">(5)</span></h3>

									<ul>
										{% for comment in comments %}
										<li>
											<div class="avatar"><img src="assets/img/can-1.png" alt=""></div>
											<div class="comment-content"><div class="arrow-comment"></div>
												<div class="comment-by">Kathy Brown<span class="date">12th, June 2019</span>
													<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
												</div>
												<p style="white-space:pre-wrap;">Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus</p>
											</div>

											

										</li>
										{% endfor %}
										
									 </ul>

								</div>
							</div>
							
							<!-- Comment Form -->
							<div class="row no-mrg">
								<div class="comments-form"> 
									<div class="section-title2">
										<h3 class="mrg-top-40">Drop Your Comment</h3>
									</div>
									<form>
									<div class="col-md-6 col-sm-6">
										<input type="text" class="form-control" placeholder="Your Name">
									</div>
									<div class="col-md-6 col-sm-6">
										<input type="email" class="form-control" placeholder="Your Email">
									</div>
									<div class="col-md-12 col-sm-12">
										<textarea class="form-control" placeholder="Comment"></textarea>
									</div>
									<button class="thm-btn btn-comment" type="submit">submit now</button>
									</form>
								</div>
							</div>
						</div>
						
						<!-- Start Sidebar -->
						<div class="col-md-4">
							<div class="blog-sidebar">
							
								<form action="#">
									<div class="search-form">
										<div class="input-group">
											<input type="text" class="form-control" placeholder="Search…">
											<span class="input-group-btn">
												<button type="button" class="btn btn-default">Go</button>
											</span>
										</div>
									</div>
								</form>
								
								<div class="sidebar-widget">
									<h4>Popular Category</h4>
									<ul class="sidebar-list">
										<li><a href="#">About Donation <span>(8)</span></a></li>
										<li><a href="#">About Donation <span>(8)</span></a></li>
										<li><a href="#">About Donation <span>(8)</span></a></li>
										<li><a href="#">About Donation <span>(8)</span></a></li>
										<li><a href="#">About Donation <span>(8)</span></a></li>
										<li><a href="#">About Donation <span>(8)</span></a></li>
									</ul>
								</div>
								
								<div class="sidebar-widget">
									<h4>Popular Category</h4>
									<div class="blog-item">
										<div class="post-thumb"><a href="blog-detail.html"><img src="assets/img/blog/1.jpg" class="img-responsive" alt=""></a></div>
										<div class="blog-detail">
											<a href="blog-details.html"><h4>Enim Ad Minim Veniam, Quis Nostrud Exercitation</h4></a>
											<div class="post-info">Aug 10 2016</div>
										</div>
									</div>
									<div class="blog-item">
										<div class="post-thumb"><a href="blog-detail.html"><img src="assets/img/blog/2.jpg" class="img-responsive" alt=""></a></div>
										<div class="blog-detail">
											<a href="blog-details.html"><h4>Enim Ad Minim Veniam, Quis Nostrud Exercitation</h4></a>
											<div class="post-info">Aug 10 2016</div>
										</div>
									</div><div class="blog-item">
										<div class="post-thumb"><a href="blog-detail.html"><img src="assets/img/blog/3.jpg" class="img-responsive" alt=""></a></div>
										<div class="blog-detail">
											<a href="blog-details.html"><h4>Enim Ad Minim Veniam, Quis Nostrud Exercitation</h4></a>
											<div class="post-info">Aug 10 2016</div>
										</div>
									</div>
								</div>
								
								<div class="sidebar-widget">
									<h4>Recent Category</h4>
									<div class="blog-item">
										<div class="post-thumb"><a href="blog-detail.html"><img src="assets/img/blog/1.jpg" class="img-responsive" alt=""></a></div>
										<div class="blog-detail">
											<a href="blog-details.html"><h4>Enim Ad Minim Veniam, Quis Nostrud Exercitation</h4></a>
											<div class="post-info">Aug 10 2016</div>
										</div>
									</div>
									<div class="blog-item">
										<div class="post-thumb"><a href="blog-detail.html"><img src="assets/img/blog/2.jpg" class="img-responsive" alt=""></a></div>
										<div class="blog-detail">
											<a href="blog-details.html"><h4>Enim Ad Minim Veniam, Quis Nostrud Exercitation</h4></a>
											<div class="post-info">Aug 10 2016</div>
										</div>
									</div><div class="blog-item">
										<div class="post-thumb"><a href="blog-detail.html"><img src="assets/img/blog/3.jpg" class="img-responsive" alt=""></a></div>
										<div class="blog-detail">
											<a href="blog-details.html"><h4>Enim Ad Minim Veniam, Quis Nostrud Exercitation</h4></a>
											<div class="post-info">Aug 10 2016</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<!-- End Start Sidebar -->
					</div>
				</div>
			</section>
			<!-- Blog Detail End -->
			
			<!-- ============================ Call To Action ================================== -->
			<section class="theme-bg call-to-act-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							
							<div class="call-to-act">
								<div class="call-to-act-head">
									<h3>Want to Become a Success Employers?</h3>
									<span>We'll help you to grow your career and growth.</span>
								</div>
								<a href="#" class="btn btn-call-to-act">SignUp Today</a>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Before Footer ================================== -->
			<div class="before-footer">
				<div class="container">
					<div class="row">
						
						<div class="col-md-6 col-sm-6">
							<div class="jb4-form-fields">
								<div class="input-group">
								  <input type="email" class="form-control" placeholder="Enter your email address">
								  <span class="input-group-btn">
									<button class="btn theme-bg" type="submit"><span class="fa fa-paper-plane-o"></span></button>
								  </span>
								</div>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 hill">
							<ul class="job stock-facts">
								<li><span>2744</span></br>Jobs Posted</li>
								<li><span>2365</span></br>Jobs Posted</li>
								<li><span>2021</span></br>Freelancer</li>
								<li><span>7542</span></br>Companies</li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
			<!-- ============================ Before Footer ================================== -->
			

{% endblock %}