{% extends 'Dashboard/base.html' %}
{% load static %}
{% block content %}


<div class="clearfix"></div><br>


    
			
<!-- Title Header Start -->
<section class="inner-header-title" style="background-image:url({% static 'assets/img/banner-10.jpg' %});">
    <div class="container">
        <h1>Browse Jobs</h1>
    </div>
</section><br>
<div class="clearfix"></div>



    <div class="sidebar-wrapper">
    
<h2 class="detail-title"> Which of below discribes you?</h2>
</div>


<form class="login" action="{% url 'seeker_reg' %}" method="POST">
    {% csrf_token %}


<center><button><strong>I'm a Job Seeker!</strong></button></center>

<div class="social-devider" style="padding: 40px;">
	<span class="line"></span>
	<span class="circle">Or</span>
  </div>

  <center><button formaction="{% url 'employer_reg' %}" ><strong>I'm an Employer!</strong></button></center>


</form>
<br><br><br>


{% endblock %}